/* General Page Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10;
    background-color: cornflowerblue; /* light yellow */
    color: #333333; /* dark gray text */
}

/* Header Styling */
header {
    background-color: #ff5c8a; /* bright pink */
    color: white;
    text-align: center;
    padding:5 0;
}

/* Profile Section */      
#profile {        
    text-align: center;
    padding: 20px;
    background-color: #ffffff; /* white box */
}

#profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

/* Skills Section */
#skills {
    background-color: hsl(75, 41%, 63%);/*greenish yellow*/
    padding: 20px;
    margin: 10px;
}

#skills ul {
    list-style-type: square;
    padding-left: 40px;
}

/* Links */
a {
    color: skyblue ;/* sky blue */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: darkgreen; /* dark green */
    color: white;
}
